<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fragments - Home</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../shared/styles/index.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sriracha' rel='stylesheet' type='text/css'>
  <script src="../common/scripts/navbar/index.js"></script>
</head>
<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" id="brand" href="/">
        Fragments
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/" >
          Home
        </a>
        
        <a class="navbar-item" href="/fragments">
          View All
        </a>
      </div>  
    </div>
  </nav>

  <main class="container is-fluid">

    <section class="hero is-small has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 id="hero-title" class="title">
            Fragments
          </h1>
          <h2 class="subtitle">
            Write and save <span class="is-italic">fragments</span> of thought on the fly.
          </h2>
        </div>
      </div>
    </section>

    <section id="main-body" class="section">

      <div class="columns is-multiline is-centered">
        <div class="column box is-half">
          <form action="POST" id="new-fragment-form">
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input type="text" class="input" id="title" placeholder="(optional)">
              </div>
            </div>
    
            <div class="field">
              <label class="label">Body</label>
              <div class="control">
                <textarea type="text" class="textarea" id="body" required></textarea>
              </div>
            </div>
    
            <div class="field">
              <label class="label">Tags</label>
              <div class="control">
                <input type="text" class="input" id="tags" placeholder="separate tags with commas">
              </div>
            </div>
    
    
            <div class="field is-grouped">
              <div class="control">
                <input type="submit" class="button is-link" value="Save">
              </div>
              <div class="control">
                <input type="button" class="button is-white" id="discard-btn" value="Discard">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-half">
          <div class="notification is-success has-text-centered is-size-5">
            <p>Fragment saved</p>
          </div>

          <div class="notification is-danger has-text-centered is-size-5">
            <p>Something went wrong.</p>
            <p>Fragment was not saved.</p>
          </div>
        </div>
      </div>

    </section>
  </main>

  <script src="./js/index.js"></script>
</body>
</html>