<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fragments - Home</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../common/styles/index.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sriracha' rel='stylesheet' type='text/css'>
  <script src="../common/scripts/navbar/index.js"></script>

  <style>
    datalist {
      /* display: none; */
    }

    /* specifically hide the arrow on focus */
    input::-webkit-calendar-picker-indicator {
      display: none;
    }
  </style>
</head>
<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" id="brand" href="/">
        Fragments
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/" >
          Home
        </a>
        
        <a class="navbar-item" href="/fragments">
          View All
        </a>
      </div>  
    </div>
  </nav>

  <main class="container is-fluid">

    <section class="hero is-small has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 id="hero-title" class="title">
            Fragments
          </h1>
          <h2 class="subtitle">
            Write and save <span class="is-italic">fragments</span> of thought on the fly.
          </h2>
        </div>
      </div>
    </section>

    <section id="main-body" class="section">

      <div class="columns is-multiline is-centered">
        <div class="column box is-half">
          <form action="POST" id="new-fragment-form">
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input type="text" class="input" id="title" placeholder="(optional)">
              </div>
            </div>
    
            <div class="field">
              <label class="label">Body</label>
              <div class="control">
                <textarea type="text" class="textarea" id="body" required></textarea>
              </div>
            </div>
    
            <div class="field">
              <label class="label">Tags</label>
              <div class="control">
                <input list="tag-suggestions" type="text" class="input" id="tags" placeholder="separate tags with commas"
                  oninput="autoSuggestTags(this.value)"
                  onblur="clearTagSuggestions()"
                >
                <!-- populate this data list and have it appear ONLY
                when there are suggestions. otherwise, keep hidden. -->
                <datalist id="tag-suggestions"></datalist>
              </div>
            </div>
    
    
            <div class="field is-grouped">
              <div class="control">
                <input type="submit" class="button is-link" value="Save">
              </div>
              <div class="control">
                <input type="button" class="button is-white" id="discard-btn" value="Discard">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-half">
          <button class="button is-warning"
                  onclick="clearTagsCache()"
          >
            Clear Tags Cache
          </button>
        </div>
        <div class="column is-half">
          <div class="notification is-success has-text-centered is-size-5">
            <p>Fragment saved</p>
          </div>

          <div class="notification is-danger has-text-centered is-size-5">
            <p>Something went wrong.</p>
            <p>Fragment was not saved.</p>
          </div>
        </div>
      </div>

    </section>
  </main>

  <script src="./js/index.js"></script>
  <script>
    
    function clearTagsCache() {
      if ('tags' in localStorage) {
        localStorage.removeItem('tags');
        console.info('tags cache cleared'.toUpperCase());
        return;
      } 
      console.info("nothing to clear".toUpperCase());
    }

    function autoSuggestTags(input) {
      // Exit if there's no input.
      if (!input.trim()) return;
      console.log(input);
      
      const waitTimeInMs = 300;
      const thereIsNewTag = new RegExp( "((\\w{0,}\\-?\\s?\\.?\\w+?\\s?)+),$" );

      function getAllTags() {
        var settings = {
          method: "GET",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        };

        return fetch("/api/fragments/all/tags", settings);
      }

      setTimeout(async function() {
        var tags;

        if ("tags" in localStorage) {

          console.log("retrieving tags from localstorage...");
          tags = localStorage.getItem("tags").split(',');

        } else {
          console.log("fetching tags from API...");
          console.log("calling API...");
          
          try {
            
            let response = await getAllTags();
            let content = await response.json();

            tags = content.tags;
            localStorage.setItem("tags", tags);
            // TODO: use local storage as cache for tags.
            //       update cache on pageload and each time
            //       a fragment is saved (could mean a new tag).
            //       OR, only update on fragment save if a new tag
            //       is added (chech against cache).
            
          } catch (error) {

            console.log(error);
            
          }
          
        }
          
        
        const autoSuggestRegex = new RegExp(`^${input}`);
        
        var suggestions = [];
        tags.forEach((tag, index) => {
          if ( autoSuggestRegex.test(tag) ) suggestions.push(tag);
        });
        // if suggestions.length = 0 do nothing
        if (suggestions.length == 0) {
          return;
        } else {
          // make an option element for each suggestion and append
          // it AS A WHOLE 
          console.log(suggestions);
          let suggestionOptions = suggestions.map((elem, index) => {
            let option = document.createElement("OPTION");
            option.setAttribute("value", elem);
            option.setAttribute("id", index+1);
            // add onclick event to append to input
            return option;
          });

          console.log(suggestionOptions);
          const tagSuggestionsList = document.getElementById("tag-suggestions");
          if (tagSuggestionsList.childElementCount != 0)
            tagSuggestionsList.innerHTML = '';
          
          suggestionOptions.forEach(option => {
            tagSuggestionsList.appendChild(option);
          });
          
        }

      }, waitTimeInMs);
      
    }

    function clearTagSuggestions() {
      const tagSuggestionList = document.getElementById('tag-suggestions');
      if (tagSuggestionList.childElementCount != 0) {
        tagSuggestionList.innerHTML = '';
      }
    }
  </script>
</body>
</html>