<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fragments - All</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../common/styles/index.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sriracha' rel='stylesheet' type='text/css'>
  <script src="../common/scripts/navbar/index.js"></script>
</head>
<body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" id="brand" href="/">
          Fragments
        </a>
  
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="/" >
            Home
          </a>
          
          <a class="navbar-item" href="/fragments">
            View All
          </a>
        </div>  
      </div>
    </nav>

  <main class="container is-fluid">
    
    <section class="section">

      <div class="field has-addons">
        <div class="control">
          <input type="text" class="input" placeholder="Separate them with commas">
        </div>
        <div class="control">
          <a href="#" class="button is-info">
            Search by Tag
          </a>
        </div>
      </div>

      <table class="table" id="fragments-table">

        <thead>
          <tr id="header-row" data-headers="title,body,tags,createdOn">
            <th>Title</th>
            <th>Body</th>
            <th>Tags</th>
            <th>Created On</th>
          </tr>
        </thead>

        <tbody></tbody>

      </table>
    </section>

  </main>

  <script src="./js/index.js"></script>
  
</body>
</html>